<h2>{{'hardware.title2' | translate}}</h2>
<div>
  <h3>{{'hardware.text' | translate}}</h3>
  <div>
    <label>{{'hardware.code' | translate}}
      <div>
        <input #code />
      </div>
    </label>
  </div>
  <div>
    <label>{{'hardware.header' | translate}}
      <div>
        <input #name />
      </div>
    </label>
  </div>
  <div>
    <label>{{'hardware.type' | translate}}
      <div>
        <select #type >
          <option value="CPU">CPU</option>
          <option value="GPU">GPU</option>
          <option value="MBO">MBO</option>
          <option value="RAM">RAM</option>
          <option value="STORAGE">Pohrana podataka</option>
          <option value="OTHER">Ostalo</option>
        </select>
      </div>
    </label>
  </div>
  <div>
    <label>{{'hardware.number' | translate}}
      <div>
        <input type="number" #stock />
      </div>
    </label>
  </div>
  <div>
    <label>{{'hardware.price' | translate}}
      <div>
        <input type="number" #price />
      </div>
    </label>
  </div>

  <button (click)="add(code.value, name.value, type.value, +stock.value, +price.value); code.value=''; name.value=''; type.value='CPU'; stock.value=''; price.value=''">
    {{'hardware.button1' | translate}}
  </button>

  <button (click)="goBack()">{{'hardware.button2' | translate}}</button>
</div>
